{% extends "layout.html" %}
<!-- content以外はテキスト -->

{% block title %}
Index
{% endblock %}

{% block headline %}
{{ title }}
{% endblock %}

{% block content %}
<div class="mb-3" id="msg">{{ message }}</div>

<!-- Vue.js container -->
<div id="app" class="m-5">
    <mycomp />
</div>

<!-- mycomp's template -->
{% raw %}
<script type="text/x-template" id="mycomp-template">
    <p class="alert alert-primary h5">
        Hello! This is My-Component!
    </p>
</script>
{% endraw %}

<!-- Vue.js script -->
<script>
Vue.component('mycomp', {
    template: "#mycomp-template",
});

new Vue({
    el:'#app',
});
</script>

{% endblock %}

{% block footer %}
copyright 2019 SYODA-Tuyano.
{% endblock %}
