{% extends "layout.html" %}
<!-- content以外はテキスト -->

{% block title %}
Index
{% endblock %}

{% block headline %}
{{ title }}
{% endblock %}

{% block content %}
<div class="mb-3" id="msg">{{ message }}</div>

<!-- Vue.js container -->
<div id="app" class="m-5">
    <mycomp kind="0" />
</div>

<!-- mycomp's template -->
{% raw %}
<script type="text/x-template" id="mycomp-template">
    <div>
        <div class="form-group">
            <label for="item">Number:</label>
            <input type="text" class="form-control"
                id="item" name="item" v-model="items">
        </div>
        <ol class="list-group" v-for="item in itemlist">
            <li class="list-group-item">{{item}}</li>
        <ol>
    </div>
</script>
{% endraw %}

<!-- Vue.js script -->
<script>
Vue.component('mycomp', {
    template: '#mycomp-template',
    data: function() {
        return {
            itemlist:[]
        };
    },
    computed: {
        items: {
            set: function(val) {
                this.itemlist = val.split(',');
            },
            get: function() {
                return this.itemlist.join(',')
            }
        }
    }
});

new Vue({
    el:'#app',
});
</script>

{% endblock %}

{% block footer %}
copyright 2019 SYODA-Tuyano.
{% endblock %}
